/*---------- fonts start ----------*/
@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/Inter-VariableFont.ttf");
}
/*---------- fonts end ----------*/

/*---------- default and common start ----------*/
.main,
.footer {
  border: 1px solid blueviolet;
  min-height: 100px;
}

.section {
  border: 1px solid green;
  min-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  background-color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  width: 220px;
  height: 55px;
  padding-top: 8px;
  padding-bottom: 7px;
  border: 2px solid #BDAE82;
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #BDAE82;
  transition: .5s;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #000000;
  cursor: pointer;
}
/*---------- default and common end ----------*/

/*---------- header start ----------*/
.header__container {
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 90px;
}

.header__logo {
  align-self: flex-end;
  margin-bottom: 8px;
}

.logo {
  width: 50px;
  height: 50px;
  transition: .5s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header__nav {
  margin-left: auto;
}

.nav {
  width: 500px;
  height: 50px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  display: inline-block;
  padding: 0 15px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
  transition: .5s;
}

.nav__link:hover {
  color: #BDAE82;
}

.lang-switcher {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  width: 72px;
  height: 50px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}

.lang-switcher__link {
  color: #FFFFFF;
  text-decoration: none;
}

.lang-switcher__link:hover {
  color: #BDAE82;
}
/*---------- header end ----------*/

/*---------- hero section start ----------*/
.hero-section {
  min-height: 820px;
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-section__container {
  padding-top: 160px;
  padding-left: 60px;
}

.hero-section__title {
  width: 500px;
  height: 120px;
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}

.hero-section__text {
  width: 470px;
  height: 120px;
  margin-bottom: 25px;
}
/*---------- hero section end ----------*/
